# Environnement virtuel (très lourd, ne pas envoyer)
.venv/
env/
venv/

# Dossiers de configuration VS Code
.vscode/

# Fichiers temporaires Python
__pycache__/
*.pyc

# Images et résultats (on garde le code, pas les photos)
*.jpg
*.jpeg
*.pdf
Figures/
*.png

# Dossier de cache FastF1 (si tu en as un)
cache/

Projet_test.py